# Ignore sensitive environment variables
.env
.env.*$
!.env.sops.enc$ # Explicitly include this file
!.env.template$ # Explicitly include this file

# Ignore runtime data and volume mounts
volumes/
**/volumes/
**/data/
**/logs/
**/cache/
**/storage/
**/__pycache__/

# Ignore common local files
*.db
*.db-shm
*.db-wal
*.log
*.sock
*.pid
*.pem
*.key
*.crt
*.sqlite
*.bak

# Ignore editor and OS-specific files
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Claude Code
.claude/*
!.claude/CLAUDE.md # Explicitly include this file