# Ignore sensitive environment variables
.env
.env.*$
!.env.sops.enc$ # Explicitly include this file
!.env.template$ # Explicitly include this file

# Ignore Terraform/OpenTofu state, backups, and crash logs
# (Covers both .terraform and .opentofu directories)
**/.terraform/
**/.terraform.lock.hcl
**/.terraform.tfstate
**/.terraform.tfstate.*
**/.opentofu/
**/.opentofu.lock.hcl
**/.opentofu.tfstate
**/.opentofu.tfstate.*
terraform.tfstate
terraform.tfstate.*
opentofu.tfstate
opentofu.tfstate.*
*.tfplan
*.tfstate.backup
*.tofuplan
*.tofustate.backup
crash.log

# Ignore common local files
*.db
*.db-shm
*.db-wal
*.log
*.sock
*.pid
*.pem
*.key
*.crt
*.sqlite
*.bak

# Ignore editor and OS-specific files
.DS_Store
*.swp
*.swo
.idea/
.vscode/
